<% var pageTitle = 'SafeGringo' %>
<% include partials/header %>

<header>
  <div id="cover">
		<img id="logo" src="images/logo.svg"/>
		<p id="slogan">Be confident to explore this amazing city</p>
		<div id="search">
			<h1 id="title">Where would you like to go in Rio?</h1>
			<form>
				<input class="text-field" name="q" placeholder="Start typing..." type="text" autocomplete="off" required></input>
				<button id="explore_btn">Explore</button>
			</form>
		</div>
  </div>
</header>

<section class="card-list"></section>

<footer>
	<div class="cover">
		<div class="hackpuc">
			<img class="logo" src="../images/hackpuc.png" class="logo"></img>
			<span class="subtitle">HackPUC Competition - 2015</span>
		</div>
		<div class="phones">
			<span class="label">Helpful Phones</span>
			<ul class="numbers">
				<li>190 - Militar Police |</li>
				<li>192 - Ambulance |</li>
				<li>185 - Life Saver</li>
			</ul>
		</div>
	</div>
</footer>

<% include partials/footer %>
