<% var pageTitle = 'SafeGringo' %>
<% include partials/header %>

<header>
  <div id="cover">
    <div id="layer-protection">
      <img id="logo" src="images/logo.svg"/>
      <p id="slogan">Be confident to explore this amazing city</p>
      <div id="search">
        <h1 id="title">Where would you like to go in Rio?</h1>
        <form>
          <input class="text-field" name="q" placeholder="Start typing..." type="text" autocomplete="off" required></input>
          <button id="explore_btn">Explore</button>
        </form>
      </div>
    </div>
  </div>
</header>

<section class="card-list">
    <div class="card">
      <div class="card-image">
        <img src="http://www.newyears-brazil.com/_images/photos/rio-copacabana-by-quasebart.jpg" alt="Copacabana">
      </div>

      <div class="card-info">
        <div class="card-category">
          <h2>Forte de Copacabana</h2>
          <span>Copacabana Fort</span>

          <p class="description">
            Não user jóias ou relógios caros, não manipule câmeras grandes e dinheiro am ambiente públicos.
          </p>
        </div>

        <div class="card-analytics">
          <h3>Assaltos por perto</h3>
          <p>200 assaltos, nos últimos 2 anos *</p>

          <ul class="seasons">
            <li>
              <div class="c100 p5 small">
                <span>5%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>

              <p>Manhã</p>
            </li>

            <li>
              <div class="c100 p10 small">
                <span>10%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>

              <p>Tarde</p>
            </li>

            <li>
              <div class="c100 p25 small">
                <span>25%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>

              <p>Noite</p>
            </li>

            <li>
              <div class="c100 p60 small">
                <span>60%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>

              <p>Madrugada</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>

<% include partials/footer %>
