<% var pageTitle = 'SafeGringo' %>
<% include partials/header %>

<header>
    <div id="cover"><div id="layer-protection"> 
      <header>
        <div>
          <img id="logo" src="images/logo.svg"/>
          <p id="slogan">Be confident to explore this amazing city</p>
        </div>
      </header> 
      <div id="search">
        <h1 id="title">Where would you like to go in Rio?</h1>
        <form>
          <input placeholder="Copacabana"></input>
          <button id="explore_btn">Explore</button>
        </form>
      </div>
    </div></div>
    <footer>
    </footer>
</header>

<% include partials/footer %>