@media screen and (max-width: 800px) {
  .card-list {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  #search h1 {
    font-size: 20px;
  }

  form {
    text-align: center;
  }

  #search {
    margin-top: 70px;
    width: 100%;
  }

  #search input {
    height: 10px;
    width: 70%;
    margin-bottom: 10px;
  }

  #logo { 
    text-align: center;
  }

  #slogan {
    display: none;
  }

  .card-list {
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  #search h1 {
    font-size: 15px;
  }

  #search input {
    height: 10px;
    width: 80%;
    margin-bottom: 10px;
  }

  .card-list {
    width: 240px;
  }

  #search button {
    padding: 15px 5px 12px 5px;
    font-size: 12px;
    font-family: "ProximaNova-Reg";
  }

  #search input {
    padding: 11px;
  }
}