@media screen and (max-width: 800px) {
  .card-list {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  #search h1 {
    font-size: 30px;
  }

  #search {
    margin-top: 70px;
    width: 100%;
  }

  #search input {
    height: 10px;
    margin-bottom: 10px;
  }

  #logo { 
    margin-left: 0px;
    text-align: center;
  }

  #slogan {
    display: none;
  }

  .card-list {
    width: 300px;
  }

  #search button {
    padding: 13px 16px 11px 16px;
  }
}

@media screen and (max-width: 360px) {
  #search h1 {
    font-size: 30px;
  }

  #search input {
    height: 10px;
    margin-bottom: 10px;
  }

  .card-list {
    width: 240px;
  }

  #search button {
    padding: 9px 16px 8px 12px;
    font-size: 12px;
    font-family: "ProximaNova-Reg";

  }

  #search input {
    padding: 11px;
  }
}